*{
    padding: 0;
    margin: 0;
    font-family: 'inter';
}
/* MENU INICIAL */
#menuSuperior{
    background-color: #303030;
    width: 100%;
    height: 300px;
}

#title{
    font-size: 50px;
    color: #ffffff;
    margin: 80px 0 0 50px;
    display: inline-block;
}

#textTitle{
    color: #ffffff;
    margin-left: 50px;
}
/* SUB-MENU */
#subMenu{
    background-color: #f9f9f9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding-left: 150px;
    align-items: center;
    height: 100px;
}
/* SOBRE */
#sobre{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    align-items: center;
    margin: 30px 0 30px 150px ;
}

#content{
    width: 635px;
    height:161px ;
}
#img{
    width: 410px;
    height: 505px;
}
/* FORM */
#form{
    background-color: #303030;
    width: 100%;
    height: 400px;
    text-align: center;
}
#formTitle{
    color: #ffffff;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 25px;
    font-size: 25px;
}
input{
   margin-bottom: 20px;
   width: 308px;
   height: 42px;
   border-radius: 5px;
   border: none;
   padding-left: 15px;
}
button{
    width: 186px;
    height: 55px;
    background-color: #c07212;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
}